# 忽略所有 node_modules 文件夹（前端或其他子项目）
**/node_modules/

# 忽略 IntelliJ IDEA 项目配置文件夹
.idea/

# 忽略 Java Maven 编译输出目录
**/target/

# 忽略敏感配置文件（如 Firebase 认证密钥）
/backend/src/main/resources/firebase-credentials.json

# 忽略后端上传文件目录
/backend/uploads/
